<nav class="nav-container">
  <div class="nav-contents">
    <div class="nav-items">
      <div class="items">
        <div class="layer">
          <a href="/" class="item">
            <img
              class="shift-layer-right"
              src="/imgs/basil_location-outline.svg"
              alt=""
              srcset=""
            />
            <p class="item-name">Rockville Blvd, Marysville</p>
          </a>
          <img src="/imgs/Line 2.svg" alt="" srcset="" />
          <a href="tel:+212656123456" class="item">
            <img src="/imgs/fluent_call-48-regular.svg" alt="" />
            <p class="item-name">+212 656 123 456</p>
          </a>
        </div>
        <div class="layer">
          <div class="item">
            <p class="item-name shift-layer-right">Home</p>
            <img src="/imgs/mdi_arrow-down-drop.svg" alt="" />
          </div>
          <div class="item">
            <p class="item-name">About Us</p>
            <img src="/imgs/mdi_arrow-down-drop.svg" alt="" />
          </div>
          <div class="item">
            <p class="item-name">Inventory</p>
            <img src="/imgs/mdi_arrow-down-drop.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="nav-items logo">
      <img src="/imgs/site-lg.png" alt="" srcset="" />
    </div>
    <div class="nav-items">
      <div class="items">
        <div class="layer">
          <a href="mailto:exotiq@rentals.com" class="item">
            <img src="/imgs/system-uicons_mail.svg" alt="" srcset="" />
            <p class="item-name">exotiq@rentals.com</p>
          </a>
          <img src="/imgs/Line 2.svg" alt="" srcset="" />
          <a href="/auth/login" class="item">
            <img src="/imgs/gridicons_add.svg" alt="" />
            <p class="item-name shift-layer-left">Add Listing</p>
          </a>
        </div>
        <div class="layer">
          <div class="item">
            <p class="item-name">Contact Us</p>
            <img src="/imgs/mdi_arrow-down-drop.svg" alt="" />
          </div>
          <div class="item">
            <p class="item-name">Services</p>
            <img src="/imgs/mdi_arrow-down-drop.svg" alt="" />
          </div>
          <div class="item">
            <p class="item-name shif">Pages</p>
            <img
              class="shift-layer-left"
              src="/imgs/mdi_arrow-down-drop.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
